<h1>Sign up</h1>

<%= form_for(@user) do |f| %>

  <%= f.label :username %>:
  <%= f.text_field :username, class: 'form' %>

  <%= f.label :email %>:
  <%= f.email_field :email, class: 'form' %>

  <%= f.label :password %>:
  <%= f.password_field :password, class: 'form' %>

  <%= f.submit "Create my account", class: 'submit' %>

<% end %>